@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #353333; */
    background-color: #C9C9C9;
}

.container-turn {
    width: 250px;
    height: 120px;
    display: grid;
    place-items: center;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility:hidden;
    opacity:0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

#turn {
    font-size: 30px;
}

.borders {
    width: 608px;
    height: 608px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.row {
    display: flex;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 2;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.tile {
    margin: 0.5px;
    width: 75px;
    height: 75px;
}

.img {
    width: 60px;
    position: relative;
    bottom: 5px;
}